<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pug</title>

  </head>
  <body>
    <h1>Pug - node template engine</h1>
    <div id="container" class="col">
      <p>You are amazing</p>
      <p>
        Pug is a terse and simple templating language with a strong focus on
        performance and powerful features.
      </p>
      <p> <%= locals.title %> </p>
     <div>
     <form method='post' >
     <label>Message</label>
     <input name="name" >
     <button type='submit'>Envoyer</button>
     </form>
     </div>
    </div>
  </body>
</html>